asgiref
certifi
crispy-bootstrap5
crispy-tailwind
distlib
Django
django-allauth
django-crispy-forms
django-environ
django-tailwind
filelock
MouseInfo
pillow
pipenv
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
sqlparse
tzdata
virtualenv
